.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  margin: auto;
}
.loader div {
  width: 20px;
  height: 20px;
  float: left;
  animation: color_bitch 1s infinite ease;
  border-radius: 50%;
}
.loader div:nth-child(1) {
  animation-delay: 0.2s;
  animation-duration: 0.2s;
}
.loader div:nth-child(2) {
  animation-delay: 0.4s;
  animation-duration: 0.4s;
}
.loader div:nth-child(3) {
  animation-delay: 0.6s;
  animation-duration: 0.6s;
}
.loader div:nth-child(4) {
  animation-delay: 0.8s;
  animation-duration: 0.8s;
}
.loader div:nth-child(5) {
  animation-delay: 1s;
  animation-duration: 1s;
}
.loader div:nth-child(6) {
  animation-delay: 1.2s;
  animation-duration: 1.2s;
}
.loader div:nth-child(7) {
  animation-delay: 1.4s;
  animation-duration: 1.4s;
}
.loader div:nth-child(8) {
  animation-delay: 1.6s;
  animation-duration: 1.6s;
}
.loader div:nth-child(9) {
  animation-delay: 1.8s;
  animation-duration: 1.8s;
}
.loader div:nth-child(10) {
  animation-delay: 2s;
  animation-duration: 2s;
}
.loader div:nth-child(11) {
  animation-delay: 2.2s;
  animation-duration: 2.2s;
}
.loader div:nth-child(12) {
  animation-delay: 2.4s;
  animation-duration: 2.4s;
}
.loader div:nth-child(13) {
  animation-delay: 2.6s;
  animation-duration: 2.6s;
}
.loader div:nth-child(14) {
  animation-delay: 2.8s;
  animation-duration: 2.8s;
}
.loader div:nth-child(15) {
  animation-delay: 3s;
  animation-duration: 3s;
}
.loader div:nth-child(16) {
  animation-delay: 3.2s;
  animation-duration: 3.2s;
}
.loader div:nth-child(17) {
  animation-delay: 3.4s;
  animation-duration: 3.4s;
}
.loader div:nth-child(18) {
  animation-delay: 3.6s;
  animation-duration: 3.6s;
}
.loader div:nth-child(19) {
  animation-delay: 3.8s;
  animation-duration: 3.8s;
}
.loader div:nth-child(20) {
  animation-delay: 4s;
  animation-duration: 4s;
}
.loader div:nth-child(21) {
  animation-delay: 4.2s;
  animation-duration: 4.2s;
}
.loader div:nth-child(22) {
  animation-delay: 4.4s;
  animation-duration: 4.4s;
}
.loader div:nth-child(23) {
  animation-delay: 4.6s;
  animation-duration: 4.6s;
}
.loader div:nth-child(24) {
  animation-delay: 4.8s;
  animation-duration: 4.8s;
}
.loader div:nth-child(25) {
  animation-delay: 5s;
  animation-duration: 5s;
}

@keyframes color_bitch {
  0% {
    background: transparent;
  }
  50% {
    background: #f47371;
  }
  100% {
    background: transparent;
  }
}
