.list_container {
  position: relative;
  z-index: 999;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 7px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 12px;
  z-index: 999;
  overflow: hidden;
}

.list_units {
  border-top-right-radius: 4px;
}

.list_element {
  color: black;
  margin-bottom: 5px;
  width: max-content;
  cursor: pointer;
}

.list_label {
  display: inline-block;
  cursor: pointer;
}

.list_input {
  margin-right: 5px;
}

.list_input_big {
  font-size: 14px;
  margin-top: 3px;
}

.dropdown-enter {
  max-height: 0;
  overflow: hidden;
}

.dropdown-enter-active {
  max-height: 500px;
  transition: max-height 0.5s ease;
}

.dropdown-exit {
  max-height: 500px;
}

.dropdown-exit-active {
  max-height: 0;
  transition: max-height 0.5s ease;
}
