.text_container {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin: 30px 200px;
  height: auto;
  white-space: pre-wrap;
  line-height: 21.5px;
  text-indent: 42.3px;
}

#text_report {
  overflow-y: auto;
  height: 80vh;
  margin-bottom: 80px;
}

.text_paragraph {
  text-indent: 42.3px;
  font-size: 14pt;
  white-space: pre-wrap;
  text-align: justify;
  line-height: 21.5px;
}

.text_inner {
  font-family: "Times New Roman", Times, serif;
  white-space: pre-wrap;
  text-align: justify;
  line-height: 21.5px;
  text-indent: 42.3px;
}

.text_unit {
  font-weight: 700;
}

.text_increase {
  color: #d10000;
}

.text_decrease {
  color: #008006;
}

table,
th,
td {
  border-spacing: 0;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0 1px;
  text-align: center;
  white-space: nowrap;
}

.table_bold {
  margin: auto;
  border: 1px solid black;
}

.table_bold_right {
  border-right: 1px solid black;
}

.table_fill {
  background-color: #d8d8d8;
  line-height: 21.5px;
}

.text_header {
  font-weight: bold;
}
