.controls-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  margin-left: 20px;
}

.right-section {
  margin-left: auto;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* margin: auto; */
  height: 48px;
  border: 1px solid rgb(35, 93, 201);
  border-radius: 7px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.tools_square {
  width: 50px;
  border: none;
  background-color: inherit;
  color: inherit;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.tools_plus {
  margin: 7px;
  background-image: url("../images/plus.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 17px;
  color: inherit;
}

.tools_minus {
  margin: 7px;
  background-image: url("../images/minus.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 17px;
  color: inherit;
}

.tools_text-button {
  padding: 10px;
}

.tools_text-button_year {
  width: 85px;
}

.tools_text-button_period {
  width: auto;
}

.tools_dropdown-icon_rotate {
  transform: rotate(180deg);
}

.tools_dropdown-button {
  height: 25px;
  margin-bottom: 5px;
  background-color: #008fe2;
  border-radius: 4px;
  color: white;
}

.tools_buttons-container {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.input-label {
  font-size: 12px;
  position: absolute;
  top: -8px;
  left: 10px;
  padding: 0 5px;
  background-color: #15a7fc;
  color: white;
}

.divider {
  cursor: pointer;

  height: 46px;
  width: 120px;
}

.datepicker_container {
  display: flex;
  gap: 7px;
}

.fade-enter {
  opacity: 0;
  transform: translateX(500%);
}

.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-500%);
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 1000ms, transform 1000ms;
}
