@import url("./styles/normalize.css");
@import url("./styles/main.css");
@import url("./styles/navbar.css");
@import url("./styles/toolpanel.css");
@import url("./styles/dropzoneparser.css");
@import url("./styles/chart.css");
@import url("./styles/dropdownlist.css");
@import url("./styles/chartloader.css");
@import url("../src/styles/datePicker.css");
@import url("../src/styles/drawermenu.css");
@import url("../src/styles/popup.css");
@import url("../src/styles/downloadbuttons.css");

:root {
  --main-bg-color: #2979ff;
  --main-border-color: #005397;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
 
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  margin: auto;
}
