body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  margin: auto;
}

.dropzone {
  font-size: 17px;
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 13px;
  padding: 15px;
  cursor: pointer;
  height: 10px;
  width: 135px;
  border: 3px dashed rgb(255, 255, 255);
  border-radius: 10px;
  outline: none;
}

.dropzoneReject {
  border: 2px dashed #ff3333;
  background: #ffa3a3;
}

.dropzoneAccept {
  border: 2px dashed green;
  background: hsl(123, 100%, 93%);
}

.horizontalSection {
  /* padding: 0 30px; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.horizontalSection_group {
  flex-wrap: nowrap;
  /* padding: 0 30px; */
}

.chartItem {
  position: relative;
}
.Main {
  max-width: 1920px;
  margin: 90px auto;
}
